{% extends "base.html" %}

{% block head %}
    <!-- HEAD TAG LINKS -->
    <link rel="stylesheet" href="{{ url_for('employee.static', filename='register.css') }}">
    <link rel="stylesheet" href="{{ url_for('employee.static', filename='all_employees.css') }}">
{% endblock head %}


{% block short_msg %}
    <!-- SHORT MESSAGE SECTION -->
    <div class="title">
        EMPLOYEES
    </div>
    <div class="message">
        Add new employee OR view, edit and delete employee info
    </div>
{% endblock short_msg %}


{% block info %}
    <!-- ADD EMPLOYEE SECTION -->
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        Add Employee
    </button>
    {% include "register.html" %}
    {% if offcanvas %}
        <script src="{{ url_for('employee.static', filename='js/offcanvas.js') }}"></script>
    {% endif %}

    <!-- INFORMATION SECTION -->
    {% include "all_employees.html" %}
{% endblock info %}

