/* --------- COLORS ---------*/
/* 
GREY COLORS - #FFF #000 
PRIMARY COLOR - #2B2E63, LIGHT SHADE (9% opacity) - #E9EAF1, DARK SHADE (34% opacity) -  #2B2E6357,
SECONDARY COLOR - #893D06
*/

/* --------- FONT FAMILY ---------*/
/* 
DEFAULT - Lato, seriff,
Benrays Store in header - Lora, serif,
*/


body{
    font-family: "Lato", serif;
    /* box-sizing: border-box; */
}

.container-fluid{
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
}



/* ---------- HEADER SECTION ---------- */
header{
    flex: 0;
    background-color: #2B2E63;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    width: inherit;
}

header div{
    color: #FFF;
    width: 10rem;
}

.logo{
    font-family: "Lora", serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 2rem;
}

.user{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn{
    font-size: 1.25rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    margin: 0.8rem 2rem 0.8rem 0;
}

.btn-secondary{
    background-color: #893D06;
}

.btn a{
    text-decoration: none;
    color: #FFF;
}



/* ---------------------------------------- BODY SECTION ---------------------------------------- */
.content{
    flex: 1;
    display: flex;
    background-color: #E9EAF1;
}


/* ------------------------------ SIDE MENU ------------------------------ */
.side-menu{
    background-color: #FFF;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side-menu div{
    text-align: start;
    width: 40%;
    padding: 0 2rem 0 2rem;
    margin: 0 1rem 0 2rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.side-menu a{
    color: #000;
    opacity: 1;
    text-decoration: none;
}

.dashboard{
    background-image: url(../static/images/dashboard_icon.png);
}

.dropdown{
    width: 120px;
    padding-left: 40px !important;
    margin-left: 1.5rem !important;
    display: block;
    background-image: url(../static/images/delivery_icon.png);
    background-repeat: no-repeat;
    background-position:  left center;
    background-size: 2rem !important;
}

.products{
    background-image: url(../static/images/product_icon.png);
}

.warehouses{
    background-image: url(../static/images/warehouse_icon.png);
}

.employees{
    background-image: url(../static/images/user_icon.png);
}

.customers{
    background-image: url(../static/images/user_icon.png);
}

.suppliers{
    background-image: url(../static/images/user_icon.png);
}



/* ------------------------------ SIDE CONTENT ------------------------------ */
.side-content{
    width: 80%;
    margin: 2rem 3.125rem 2rem 3.125rem;
    background-color: #E9EAF1;
    display: flex;
    flex-direction: column;
}


/* -------------------- SHORT MESSAGE SECTION -------------------- */
.short-msg{
    height: 20%;
    background-color: #FFF;
    border: 1px solid #2B2E6357;
    margin-bottom: 1.5rem;
}

.short-msg div{
    padding-left: 20px;
}

.title{
    margin-top: 0.6rem;
}

.message{
    color: #000000B3;
    margin-top:  0.9rem;
}


/* -------------------- INFORMATION SECTION -------------------- */
/* ---------- GENERAL ---------- */
.info{
    background-color: #FFF;
    border: 1px solid #2B2E6357;
}

.info-main{
    height: 80%;
}

.info-content{
    height: fit-content;
}


/* ---------- NAV SECTION ---------- */
.btn-primary{
    background-color: #2B2E63;
    width: 10rem;
    margin-left: 1rem;
}

.btn-disable{
    color: #FFF;
    background-color: #2B2E6357;
}

/* ---------- OFF CANVAS ---------- */
.offcanvas-custom{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 50%;
    height: 85%;
}

/* ---------- MAIN SECTION ---------- */
.col-header{
    border-right: 1px solid #2B2E6357;
}
